{% extends 'base.html' %}

{% load staticfiles %}


{% block mainblock %}


{% for c in cat %}

<div class="product-wrapper fix pb-70">
    <div class="container-fluid">

        <div class="section-title product-spacing hm-11">
            <h3><span>our</span> {{c}}</h3>
            <div class="boxx-tab">
                <ul class="nav my-tab">
                    <li>
                    <form action="{% url 'buyer:buyerapp' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <a href="{% url 'buyer:buyerapp' %}" style="text-decoration:none;"><input type="submit" name="ser" value="{{ c }}" class="w3-bar-item w3-button" style="width: 100px;"></a>
                    </form>
                </li>
                    


                    <!-- <li>
                        <a data-toggle="tab" href="#two">Audio & Home Theater</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#three">Cellphones & Accessories</a>
                    </li> -->
                </ul>
            </div>
        </div>


        
        
        <div class="tab-content">
            <div class="tab-pane fade show active" id="one">
                <div class="product-gallary-wrapper">
                    <div class="product-gallary-active owl-carousel owl-arrow-style product-spacing">
                        {% for i in pro  %}

                        <!-- products -->
                        {% if c == i.category %}

                        <div class="product-item">
                            <div class="product-thumb">
                                <a href="{% url 'buyer:proddetails' id=i.id %}">
                                    <img src="{{ i.product_img.url }}" class="pri-img" alt="">
                                    <img src="sinrato/assets/img/product/product-2.jpg" class="sec-img" alt="">
                                </a>
                                <div class="box-label">
                                    <div class="label-product label_new">
                                        <span>new</span>
                                    </div>
                                </div>
                        
                            </div>
                            <!-- product captions -->
                            <div class="product-caption">
                                <div class="manufacture-product">
                                    <p><a href="shop-grid-left-sidebar.html"></a></p>
                                </div>
                                <div class="product-name">
                                    <h4><a href="product-details.html">{{ i.product_name }}</a></h4>
                                </div>
                                <div class="ratings">
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span class="yellow"><i class="lnr lnr-star"></i></span>
                                    <span><i class="lnr lnr-star"></i></span>
                                </div>
                                <div class="price-box">
                                    <span class="regular-price">Rs {{ i.product_price }}</span>
                                </div>
                                <!-- <form method="post">
                                    {% csrf_token %}
                                <button class="btn-cart" type="button">add to cart</button>
                                <a href="#"><input class="btn-cart" type="submit" name="" value="add to cart" ></a>
                                </form> -->
                            </div>
                        
                        </div>


                        {% endif %}
                        {% endfor %}
                    </div>
                </div>   
            </div>             
        </div>   

        
 
        

        


    </div>
</div>
{% endfor %}


{% endblock %}
