{%  extends 'base.html' %}
{% block mainblock %}

<div class="product-details-main-wrapper pb-50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <div class="product-large-slider mb-20">
                    <div class="pro-large-img">
                        <img src="{{ pro.product_img.url }}" alt="" />
                        <div class="img-view">
                            <a class="img-popup" href="assets/img/product/product-4.jpg"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="pro-large-img">
                        <img src="assets/img/product/product-5.jpg" alt=""/>
                        <div class="img-view">
                            <a class="img-popup" href="assets/img/product/product-5.jpg"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="pro-large-img">
                        <img src="assets/img/product/product-6.jpg" alt=""/>
                        <div class="img-view">
                            <a class="img-popup" href="assets/img/product/product-6.jpg"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="pro-large-img">
                        <img src="assets/img/product/product-7.jpg" alt=""/>
                        <div class="img-view">
                            <a class="img-popup" href="assets/img/product/product-7.jpg"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="pro-large-img">
                        <img src="assets/img/product/product-8.jpg" alt=""/>
                        <div class="img-view">
                            <a class="img-popup" href="assets/img/product/product-8.jpg"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="pro-large-img">
                        <img src="{{ pro.product_img.url }}" alt=""/>
                        <div class="img-view">
                            <a class="img-popup" href="{{ pro.product_img.url }}"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="pro-nav">
                    <div class="pro-nav-thumb"><img src="assets/img/product/product-4.jpg" alt="" /></div>
                    <div class="pro-nav-thumb"><img src="assets/img/product/product-5.jpg" alt="" /></div>
                    <div class="pro-nav-thumb"><img src="assets/img/product/product-6.jpg" alt="" /></div>
                    <div class="pro-nav-thumb"><img src="assets/img/product/product-7.jpg" alt="" /></div>
                    <div class="pro-nav-thumb"><img src="assets/img/product/product-8.jpg" alt="" /></div>
                    <div class="pro-nav-thumb"><img src="assets/img/product/product-9.jpg" alt="" /></div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="product-details-inner">
                    <div class="product-details-contentt">
                        <div class="pro-details-name mb-10">
                            <h3>{{ pro.product_name }}</h3>
                        </div>
                        <div class="pro-details-review mb-20">
                            <ul>
                                <li>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </li>
                                <li><a href="#">1 Reviews</a></li>
                            </ul>
                        </div>
                        <div class="price-box mb-15">
                            <span class="regular-price"><span class="special-price">Rs {{ pro.product_price }} /-</span></span>
                            <span class="old-price"><del>Rs {{ pro.product_price }} /-</del></span>
                        </div>
                        <div class="product-detail-sort-des pb-20">
                            <p>{{ pro.product_desc }}</p>
                        </div>
                        <div class="pro-details-list pt-20">
                            <ul>
                                <li><span>Ex Tax :</span>£60.24</li>
                                <li><span>Brands :</span><a href="#">Canon</a></li>
                                <li><span>Product Code :</span>Digital</li>
                                <li><span>Reward Points :</span>200</li>
                                <li><span>Availability :</span>In Stock</li>
                            </ul>
                        </div>

                        <div class="pro-quantity-box mb-30">
                            <div class="qty-boxx">
                                <label>qty :</label>
                                <!-- <input type="text" placeholder="0">
                                <button class="btn-cart lg-btn">add to cart</button> -->

                                <form method="post">
                                    {% csrf_token %}
                                    <a href="#"><input class="btn-cart lg-btn" type="submit" name="" value="Add to maccart"></a>
                                 </form>          



                            </div>
                        </div>
                        <div class="useful-links mb-20">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-heart-o"></i>add to wish list</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-refresh"></i>compare this product</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tag-line mb-20">
                            <label>tag :</label>
                            <a href="#">Movado</a>,
                            <a href="#">Omega</a>
                        </div>
                        <div class="pro-social-sharing">
                            <label>share :</label>
                            <ul>
                                <li class="list-inline-item">
                                    <a href="#" class="bg-facebook" title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                        <span>like 0</span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="bg-twitter" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                        <span>tweet</span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="bg-google" title="Google Plus">
                                        <i class="fa fa-google-plus"></i>
                                        <span>google +</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}